Contact: mailto:{{SECURITY_EMAIL}}
Encryption: https://{{HOMEPAGE}}/.well-known/openpgpkey/hu/
Preferred-Languages: es, en
Canonical: https://{{HOMEPAGE}}/.well-known/security.txt
Policy: https://{{HOMEPAGE}}/seguridad
Hiring: https://{{HOMEPAGE}}/empleo
Expires: {{NEXT_YEAR}}-12-31T23:59:59.000Z
