# CODEOWNERS · {{REPO_NAME}}
# Documentación: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Propietario por defecto de todo el repositorio
*                       @{{REPO_OWNER}}

# Documentos críticos
/SECURITY.md            @{{REPO_OWNER}}
/LICENSE                @{{REPO_OWNER}}
/CODE_OF_CONDUCT.md     @{{REPO_OWNER}}
/.github/               @{{REPO_OWNER}}
/docs/adr/              @{{REPO_OWNER}}
